{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block header %}
    <h1>Sign Up</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card my-5" style="width: 30rem">
                <div class="card-body mx-4 my-5">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="my-3">
                        {{ form.first_name.label }}
                        {{ form.first_name(class="form-control", placeholder="Enter First Name") }}
                        </div>
                        <div class="my-3">
                        {{ form.last_name.label }}
                        {{ form.last_name(class="form-control", placeholder="Enter Last Name") }}
                        </div>
                        <div class="my-3">
                        {{ form.email.label }}
                        {{ form.email(class="form-control", placeholder="Enter Email") }}
                        </div>
                        <div class="my-3">
                        {{ form.username.label }}
                        {{ form.username(class="form-control", placeholder="Enter Username") }}
                        </div>
                        <div class="my-3">
                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder="Enter Password") }}
                        </div>
                        <div class="my-3">
                        {{ form.confirm_pass.label }}
                        {{ form.confirm_pass(class="form-control", placeholder="Confirm Your Password") }}
                        </div>
                        <div class="mt-3">
                        {{ form.submit(class="btn btn-primary w-100 mt-3") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
